<a href="https://colab.research.google.com/github/Jllin50/DS-Unit-2-Linear-Models/blob/master/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
#makes the column easier to work with
df['created'] = pd.to_datetime(df['created'])

In [0]:
#isolating the year and month for easier filtering
def make_year(dt):
  return dt.year

def make_month(dt):
  return dt.month

df['year'] = df['created'].apply(make_year)
df['month'] = df['created'].apply(make_month)

In [0]:
#isolating the desired year
twenty16_df = df[df['year'] == 2016]

In [7]:
#1/2 the training data
april = twenty16_df[twenty16_df['month'] == 4]
april.head()

   bathrooms  bedrooms             created  ... common_outdoor_space  year  month
2        1.0         1 2016-04-17 03:26:41  ...                    0  2016      4
3        1.0         1 2016-04-18 02:22:02  ...                    0  2016      4
4        1.0         4 2016-04-28 01:32:41  ...                    0  2016      4
5        2.0         4 2016-04-19 04:24:47  ...                    0  2016      4
6        1.0         2 2016-04-27 03:19:56  ...                    0  2016      4

[5 rows x 36 columns]

In [0]:
#the other half
may = twenty16_df[twenty16_df['month'] == 5]

In [9]:
#putting the halfs together
train = pd.concat([april, may])
train.head()

   bathrooms  bedrooms             created  ... common_outdoor_space  year  month
2        1.0         1 2016-04-17 03:26:41  ...                    0  2016      4
3        1.0         1 2016-04-18 02:22:02  ...                    0  2016      4
4        1.0         4 2016-04-28 01:32:41  ...                    0  2016      4
5        2.0         4 2016-04-19 04:24:47  ...                    0  2016      4
6        1.0         2 2016-04-27 03:19:56  ...                    0  2016      4

[5 rows x 36 columns]

In [10]:
train.shape

(31844, 36)

In [11]:
#creating the test df
test = twenty16_df[twenty16_df['month'] == 6]
test.head()

    bathrooms  bedrooms             created  ... common_outdoor_space  year  month
0         1.5         3 2016-06-24 07:54:24  ...                    0  2016      6
1         1.0         2 2016-06-12 12:19:27  ...                    0  2016      6
11        1.0         1 2016-06-03 03:21:22  ...                    0  2016      6
14        1.0         1 2016-06-01 03:11:01  ...                    0  2016      6
24        2.0         4 2016-06-07 04:39:56  ...                    0  2016      6

[5 rows x 36 columns]

In [12]:
test.shape

(16973, 36)

# New Features

In [0]:
# Cats_or_Dogs, creating function for .apply 
def f(x):
  if (x['cats_allowed'] == 1) | (x['dogs_allowed'] == 1):
    return 1
  else:
    return 0

In [14]:
train['c_or_d'] = train.apply(f, axis=1)
test['c_or_d'] = test.apply(f,axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
train['c_or_d']

2        0
3        0
4        0
5        0
6        1
        ..
41737    1
41738    1
41739    1
41740    0
41741    1
Name: c_or_d, Length: 31844, dtype: int64

In [16]:
test['c_or_d']

0        0
1        1
11       0
14       0
24       1
        ..
49305    0
49310    0
49320    1
49332    1
49347    0
Name: c_or_d, Length: 16973, dtype: int64

In [0]:
#Total bedrooms and bathrooms
def bednbath(x):
  return x['bedrooms'] + x['bathrooms']

In [18]:
train['bed_plus_bath'] = train.apply(bednbath, axis = 1)
test['bed_plus_bath'] = test.apply(bednbath, axis = 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
train['bed_plus_bath']

2        2.0
3        2.0
4        5.0
5        6.0
6        3.0
        ...
41737    2.0
41738    2.0
41739    4.0
41740    4.0
41741    6.0
Name: bed_plus_bath, Length: 31844, dtype: float64

In [20]:
test['bed_plus_bath']

0        4.5
1        3.0
11       2.0
14       2.0
24       6.0
        ...
49305    3.0
49310    4.0
49320    2.0
49332    3.0
49347    3.0
Name: bed_plus_bath, Length: 16973, dtype: float64

In [0]:
#Total numbers of features
def feature_sum(x):
  feature_list = ['elevator',	'cats_allowed'	,'hardwood_floors',	'dogs_allowed',
                  'doorman',	'dishwasher',	'no_fee'	,'laundry_in_building',	'fitness_center'	,
                  'pre-war',	'laundry_in_unit',	'roof_deck',	'outdoor_space',	'dining_room',	
                  'high_speed_internet',	'balcony',	'swimming_pool',	'new_construction',	'terrace',	
                  'exclusive',	'loft',	'garden_patio',	'wheelchair_access',	'common_outdoor_space']
  sum = 0
  for f in feature_list:
    sum += x[f]
  return sum

In [22]:
train['feature_sum'] = train.apply(feature_sum, axis = 1)
test['feature_sum'] = test.apply(feature_sum, axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
train['feature_sum']

2        3
3        2
4        1
5        0
6        3
        ..
41737    3
41738    3
41739    4
41740    0
41741    2
Name: feature_sum, Length: 31844, dtype: int64

In [24]:
test['feature_sum']

0         0
1         5
11        0
14        3
24       11
         ..
49305     2
49310     8
49320     2
49332     4
49347     5
Name: feature_sum, Length: 16973, dtype: int64

# Regression

In [0]:
model = LinearRegression()

In [0]:
# Arrange y target vectors
target = 'price'
y_train = train[target]
y_test = test[target]

In [27]:
# Re-arrange X features matrices
features = ['bed_plus_bath', 
            'feature_sum']
print(f'Linear Regression, dependent on: {features}')

Linear Regression, dependent on: ['bed_plus_bath', 'feature_sum']

In [0]:
X_train = train[features]
X_test = test[features]

In [29]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(mae)

856.6168448694107

In [39]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1672432.7152729623
Root Mean Squared Error: 1293.2257015977382
Mean Absolute Error: 867.9967359241994
R^2: 0.46189791795456303